.row {
  max-width: $grid-width;
  margin: 0 auto;
  padding: 0 10rem;
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }
}

[class^="col-"] {
  float: left;
  &:not(:last-child) {
    margin-right: $gutter-horizontal;
  }
  margin-bottom: $gutter-vertical;
}

.col-one-two {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }