.header {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .9),
    rgb(240, 240, 240)),url(../img/milwaukee.png);
    background-color: $brandgray;
    background-size: contain;
    position: bottom;
    opacity: 1;
    &__logo-box {
        position: absolute;
        top: 3rem;
        left: 4rem;
    }
    &__logo>img {
        height: 8rem;
        opacity: 1;
    }
}