.section-featured {
    background-color: rgb(240, 240, 240);
    padding: 8rem 5rem 50rem;
}

.section-about {
    position: relative;
    background-color: rgba($brand-orange,.87);
    padding: 12rem .5rem;
    height: 100vh;
}