.section-featured {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 8rem 5rem 50rem;

    @include respond(phone) {
        padding: 1rem 2rem;
    }
}

.section-about {
    position: inherit;
    background-color: rgba($brand-orange,.87);
    padding: 12rem .5rem;
    height: 100vh;

    @include respond(tab-port) {
        padding: 5rem 0rem;
        height: 87vh;
        margin-top: 148rem;

    }
}