//FONT SIZES
$body-size: 1.8rem;
$body-height: 2.5rem;
$h1-size: 5rem;
$h1-font: bebas-kai, sans-serif;
$h2-size: 3.5rem;

//COLORS
$brand-orange: #ff8c1a;
$brandgray: #1a1a1a;
$color-white: white;
$color-gray-light: lightgray;

//SPACING
$center-margin: 0 auto;
$grid-width: 114rem;
$gutter-vertical: 1rem;
$gutter-horizontal: 3rem;